.shopping-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  
  padding: 10px;
  padding-left: 25px;
  border: 1px solid #0c0c0c;
  border-radius: 50px;
}

button {
  padding: 5px 10px;
  border-radius: 50px;
}